body { 
    background: url(../david_kepei/hatterkepek_valogatas/forest.jpg);
    background-attachment: fixed;
}

.divek {
    background-color: aqua;
    background-color: black;
    color: white;
    font-weight: 900;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: justify;
    border-radius: 3%;
    /* border: 4px rgb(96, 94, 94) solid; */
    border: 4px white solid;
}

.divek > div > img {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-radius: 4%;
    border: 3px white solid;
    flex-wrap: wrap;
    width: 50%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#buvar {
    width: 40%;
    margin-bottom: 5%;
}


@media only screen and (min-width: 1545px) {
    .kep_kulonleges {
        margin-top: 15%;
        margin-bottom: 5%;
    }
  }

  @media only screen and (max-width: 1544px) {
    .kep_kulonleges {
        margin-top: none;
        margin-bottom: none;
    }
  }