body {
  background-image: url(../david_kepei/hatterkep_4.jpg);
  background-size: 100%;
  background-attachment: fixed;
  }


#elso_div {
    background-color: rgb(111, 172, 226);
    /* background-color: rgb(88, 88, 84); */
    border-radius: 10px;
    border: 4px solid red;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 35px;
    padding: 15px;
    margin-bottom: 40px;
}   


#elso_div > img {
    width: 15%;
    height: 15%;
    border-radius: 5%;
    border: 3px solid rgb(90, 89, 92);
    margin-left: 25px;
    margin-right: 25px;
}   

/* .elso_div > section > img {
  width: 15%;
  height: 15%;
  border-radius: 5%;
  border: 3px solid rgb(90, 89, 92);
  margin-left: 25px;
  margin-right: 25px;
} */

/* 
.elso_div > section > img {
  
} */

#elso_div > section > h2, p, ul {
    width: 80%;
    float: left;
}   


#kardnyeles {
  width: 10%;   /* a kép méretét adja meg */
}


p {
  text-align: justify;
}

ul {
  float: left;
  width: 80%;
}
