body {
  background-image: url(../david_kepei/hatterkepek_valogatas/fenymosas.jpg);
  background-size: 100%;
  background-attachment: fixed;
  }


.elso_div {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 4px solid rgb(0, 0, 0);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 35px;
    padding: 15px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 900;


}   


img {
  margin-right: 2% auto;
}   

/* .elso_div > section > img {
  width: 15%;
  height: 15%;
  border-radius: 5%;
  border: 3px solid rgb(90, 89, 92);
  margin-left: 25px;
  margin-right: 25px;
} */

/* 
.elso_div > section > img {
  
} */

ul > li {
  color: red;
}

/* #kardnyeles > h2, p, ul {
  width: 60%;
  float: left;
}  */

/* .elso_div > section > h2, p, ul {
    width: 60%;
    float: left;
}   */

/* .elso_div > section > ul > li {
  width: 60%;
  float: left;
}  

ul {
  width: 60%;
  float: left;
} */


p {
  text-align: justify;
}

.kepek_1 {
  width: 30%;
  float: right;
  border-radius: 20px;

  border-radius: 5%;
  border: 3px solid rgb(90, 89, 92);
  margin-left: 25px;
  margin-right: 25px;
}

/* .szelesseg {
  float: left;
  width: 65%;
}


ul {
  float: left;
  width: 80%;
} */



@media only screen and (min-width: 1600px) {
  #kardnyeles, #lotito {
    width: 30%;
    margin-top: 3%;

    flex-wrap: wrap;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .szelesseg {
    float: left;
    width: 65%;
  }
  
  ul {
    float: left;
    width: 80%;
  }
}

@media only screen and (max-width: 1599px) {
  #kardnyeles, #lotito {
    /* width: 15%; */
    /* float: left; */
    /* align-items: center;
    flex-wrap: wrap;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center; */
  }

  .szelesseg {
    float: left;
    width: 100%;
  }
  
  ul {
    float: left;
    width: 80%;
  }
}   
