body { 
    background: url(../david_kepei/hatterkepek_valogatas/forest.jpg);
    background-attachment: fixed;
}

.divek {
    background-color: aqua;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: justify;
    border-radius: 3%;
    border: 4px rgb(96, 94, 94) solid;
}

.divek > div > img {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-radius: 4%;
    border: 3px black solid;
    flex-wrap: wrap;
    width: 40%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}