@font-face {
    font-family: "TEKO";
    src: url(../david_style/elso_b_tipus/Teko-VariableFont_wght.ttf);
}

body { 
    background: url(../david_kepei/hatterkepek_valogatas/tejut_hull_hd.jpg);
    background-attachment: fixed;
    font-family: "TEKO", cursive;
}

main {
    font-family: "TEKO", cursive;
    font-size: 22px;
}

h2 {
    margin-top: 5px;
    font-size: 40px;
}

.divek {
    background-color: aqua;
    background-color: black;
    color: white;
    font-weight: 900;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: justify;
    border-radius: 3%;
    border: 4px white solid;
}

/* animaciók */
/* .divek:hover {
    border: 4px white solid;
    transition: 1s ease;
}  */

/* .divek:hover {
    color: red;
    transition: 0.6s ease;
}  */


.divek > div > img {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-radius: 4%;
    border: 3px white solid;
    flex-wrap: wrap;
    width: 70%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#buvar {
    width: 40%;
    margin-bottom: 5%;
}

#egy_millio {
    width: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#kocsma {
    width: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#volvo {
    width: 80%;
    margin-bottom: 5%;
    margin-top: 10%;
}

#keresztes {
    width: 80%;
    margin-bottom: 5%;
    margin-top: 10%;
}


@media only screen and (min-width: 1545px) {
    .kep_kulonleges {
        margin-top: 15%;
        margin-bottom: 5%;
    }
  }

  @media only screen and (max-width: 1544px) {
    .kep_kulonleges {
        margin-top: none;
        margin-bottom: none;
    }
  }