@font-face {
  font-family: "TEKO";
  src: url(../david_style/elso_b_tipus/Teko-VariableFont_wght.ttf);
}

body {
  background-image: url(../david_kepei/hatterkepek_valogatas/fenymosas.jpg);
  background-size: 100%;
  background-attachment: fixed;
  /* font-family: "TEKO", cursive;     ha a többiek is lecserélik csak akkor kell !!!! */
}

main {
  font-family: "TEKO", cursive;
  font-size: 22px;
}

h2 {
  margin-top: 5px;
  font-size: 40px;
}

.elso_div {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 4px solid rgb(0, 0, 0);
  margin-top: 35px;
  padding: 15px;
  font-size: 28px;
  font-weight: 900;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}   

.vege_margin {
  margin-bottom: 35px;
}   

img {
  margin-right: 2% auto;
}   

/* .elso_div > section > img {
  width: 15%;
  height: 15%;
  border-radius: 5%;
  border: 3px solid rgb(90, 89, 92);
  margin-left: 25px;
  margin-right: 25px;
} */

#lotito_lista > li {
  color: red;
  list-style: square;
}

/* #kardnyeles > h2, p, ul {
  width: 60%;
  float: left;
}  */

/* .elso_div > section > h2, p, ul {
    width: 60%;
    float: left;
}   */

.elso_div > section > ul > li {
  width: 60%;
  float: left;
}  

.kepek_1 {
  /* width: 30%; */
  width: 25%;
  float: right;
  border-radius: 20px;

  border-radius: 5%;
  border: 3px solid rgb(90, 89, 92);
}  
  

@media only screen and (min-width: 1600px) {
  #kardnyeles, #lotito {
    /* width: 30%; */
    width: 25%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .szelesseg {
    float: left;
    width: 65%;
  }
  
  ul {
    float: left;
    width: 65%;
  }
}

@media only screen and (max-width: 1599px) {
  #kardnyeles, #lotito {
    float: left;
    /* width: 15%; */
    /* float: left; */
    /* align-items: center;
    flex-wrap: wrap;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center; */
  }

  .szelesseg {
    width: 100%;
    float: left;
  }
  
  ul {
    float: left;
    width: 100%;
  }

  #big_mac {
    float: left;
  }
}








.elso_div > a {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.elso_div > a:hover {
  text-decoration: none;
  color: red;
  transition: 0.3s ease;
}

.linkes {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}