#dok_gomb > a {
    color: rgb(126, 121, 121);
    font-weight: 900;
}

#dok_gomb > a:hover {
    color: red;
}

body {
    background-image: url(Képek/legtobb_mentos_robbanas.jpg);
    background-size: 100%;
}
